@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  background-color: aquamarine; }

h1 {
  text-align: center;
  color: #23a6df;
  font-family: 'Indie Flower', cursive;
  width: 100%;
  padding: 30px; }

.col {
  padding: 30px; }

.imageSale {
  width: 100%; }

.card__product2 {
  text-align: center;
  flex-wrap: wrap;
  padding: 50px;
  /* ESTILIZADO QUIENES SOMOS*/ }

p {
  display: inline-block;
  padding: 5%;
  text-align: center;
  /* ESTILIZADO QUIENES SOMOS*/ }

h3 {
  text-align: center; }

.boton, .botonOrden {
  background-color: #23a6df;
  color: white;
  border: 1px solid gray; }

.botonOrden {
  background-color: gray;
  color: black; }
  .botonOrden:hover {
    color: white; }

.nextPage, .botonVerMas {
  display: flex;
  justify-content: center;
  padding: 20px; }

.dropdown {
  text-align: center; }

.card-title {
  text-align: center; }

.card-body {
  color: black;
  text-align: center; }

/*Estilo MAIN pagina contacto*/
main {
  background-color: blanchedalmond; }

div h1 {
  width: 100%;
  text-align: center;
  padding: 50px; }

/*Estilizado del Formulario página Contacto*/
.gridContainer {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1; }

.form, .contactoSect {
  text-align: center;
  justify-content: left;
  width: 100%;
  grid-template-columns: max-content; }

.contactoSect {
  justify-content: right;
  padding: 50px; }

.form__contact {
  display: inline-block;
  align-content: center;
  border-radius: 5px;
  padding: 50px;
  width: 100%; }

.cardContact {
  text-align: center;
  list-style: none;
  padding: 0; }

.formLista {
  list-style: none; }

.botonFacebook {
  color: #3b5998; }

.botonInstagram {
  color: #DD2A7B; }

/* Estilizado para Media Queris*/
@media screen and (max-width: 600px) {
  footer {
    text-align: center; } }

/*Estilizado Footer*/
